---
import Layout from '../layouts/Layout.astro';

const RSSlink = `${Astro.request.url.toString()}rss.xml`
---

<Layout title="WWSI RSS">
	<main class="p-16 m-auto max-w-[calc(100% - 2rem)] w-[800px]">
		<h1 class="text-6xl font-bold text-center mb-6">WWSI <small class="text-sm">(lepszy)</small> RSS</h1>

		<p class="my-10">Uczelniany kanał RSS nie pokazuje treści komunikatu. Ten kanał ma takie informacje.</p>

		<div class="my-14">
			<h2>Link do kanału RSS:</h2>
			<div class="my-4 p-2 font-mono max-h-[650px] overflow-x-auto rounded-lg border bg-zinc-950 flex justify-between items-center">
				<p class="ml-1">
					{ RSSlink }
				</p>

				<button id="copy-link-btn"
				class="inline-flex items-center justify-center whitespace-nowrap rounded-md 
				text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1
				 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 
				 bg-slate-100 text-zinc-950 shadow hover:bg-slate-100/90 h-9 px-4 py-2"
				>kopiuj</button>
			</div>
		</div>

		<p class="my-8">
			Dane pobierane są ze strony uczelni co 30 minut.
		</p>

		<footer class="my-16 text-[#a1a1a9] text-sm text-center">Autor: Mateusz Ż</footer>
	</main>
</Layout>

<script>
	const button = document.querySelector('#copy-link-btn');

	button?.addEventListener('click', ()=> {
		// navigator.clipboard.writeText();

		alert('clicked');
	});
</script>